<!DOCTYPE html>


<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link href="indexBjson.css" rel="stylesheet">
    <title>ExerciceJSON</title>

</head>

<body>

    <h1>Les Pays</h1>

    <hr>

    <button onclick="button()">CHARGER</button>
    <button onclick="reset()">RESET</button>

    <hr>


    <section id="pays">

        <div id="Europe">
            <h5>EUROPE</h5>
        </div>
        <div id="Asie">
            <h5>ASIE</h5>
        </div>
        <div id="Afrique">
            <h5>AFRIQUE</h5>
        </div>

    </section>



    <script src="indexJson.js"></script>
</body>

</html>