<!DOCTYPE html>


<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link href="chucknorris.css" rel="stylesheet">
    <title>ProjetChuckNorris</title>
    <link href="https://fonts.googleapis.com/css?family=Chango|Fresca|Montaga|Passion+One&display=swap" rel="stylesheet">

</head>

<body>
    <div id="main">

        <div id="topdiv">

            <img src="../Image/chucknorris.jpg">
            <h1>CHUCKNORRIS.X</h1>
        </div>

        <div id="mrbutton">
            <button class="btn btn-primary btn-lg sharp"><a href="page1.html">Une Fact !</a></button>
            <button class="btn btn-primary btn-lg sharp"><a href="page2.html">TOP 10</a></button>
            <button class="btn btn-primary btn-lg sharp"><a href="page3.html">Dernières Facts</a></button>
        </div>

        <div id="middlediv"></div>

        <div id="firstlastdiv">
            <button onclick="aleatoire()" class="seul">Une Fact</button>
        </div>

    </div>

    <script src="Ajax.js"></script>
</body>

</html>