<!DOCTYPE html>


<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link href="chucknorris.css" rel="stylesheet">
    <title>ProjetChuckNorris</title>
    <script src="https://kit.fontawesome.com/3c7f5856f6.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Chango|Fresca|Montaga|Passion+One&display=swap" rel="stylesheet">

</head>

<body>
    <div id="main">

        <div id="topdiv">

            <img src="../Image/chucknorris.jpg">
            <h1>CHUCKNORRIS.X</h1>
        </div>

        <div id="mrbutton">
            <button><a href="page1.html">Une Fact !</a></button>
            <button><a href="page2.html">TOP 10</a></button>
            <button><a href="page3.html">Dernières Facts</a></button>
        </div>

        <div id="middlediv">

        </div>

        <div id="lastdiv">
            <button class="direction"><i class="fas fa-angle-left" onclick="unprecedent()"></i></button>
            <button onclick="dernierefact()" class="seul"> Voir Dernières Facts</button>
            <button class="direction"><i class="fas fa-angle-right" onclick="unsuivant()"></i></button>
        </div>



    </div>

    <script src="Ajax.js"></script>
</body>

</html>