<!DOCTYPE html>
<html lang="fr">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="portfoliostyle.css"/>
        <link rel="stylesheet" href="library/fontawesome/css/fontawesome-all.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Cardo|Old+Standard+TT|Oswald|Oxygen|Ubuntu|Work+Sans&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Exo&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Bangers|Roboto&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>PORTFOLIO</title>
</head>
<body class="body">

  <header class="row">
    <div id="leftmenu" class="col-lg-3">

      <div id="logodiv"><img src="Image/logoSSZ.png" class="logo"></div>
      <div id="titlediv"><a href="home.html" style="text-decoration: none;"><h2>SERGE ZAÏ</h2><p>WEB & MOBILE APPLICATION DEVELOPER</p></a></div>

    </div>

    <div id="menu" class="col-lg-7">

      <div id="insidemenu">
        
        <a href="home.html">Home</a>
        <a href="aboutme.html">About me</a>
        <a href="skills.html">Skills</a>
        <a href="portfolioang.html">My works</a>
        <a href="#">Contact</a>

      </div>

      
    </div>

    <div id="rightmenu" class="col-lg-2">

        <div id="insidedroit">
          <a href="accueil.html">fr</a>
          <a href="home.html">ang</a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
  
    </div>
  </header>
  

  <div id="contenucop">

    <div id="uppertext">

        <h1>Works</h1>
        <p>Here is a list of my works, go to an image to see the content. </p>


    </div>

    <div id="ligne_photo">


      <div class="six js" data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="300"
      data-aos-offset="0">
          <img src="Image/google.jpg">
          <div class="whiteboard"></div>
          <a href="Pages/Google/ProjetGoogle.html"><i class="fa fa-eye"></i></a>
          

          <p class="wbd"></p>
      </div>
      <div class="six css" data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="300"
      data-aos-offset="0">
          <img src="Image/chuck-norris.jpg">
          <div class="whiteboard"></div>
          <a href="Pages/Chucknorris/chucknorrisaccueil.html"><i class="fa fa-eye"></i></a>
          

          <p class="wbd"></p>
      </div>
      <div class="six php" data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="300"
      data-aos-offset="0">
          <img src="Image/Pokemon-Logo.jpg">
          <div class="whiteboard"></div>
          <a href="Pages/Pokemon/pokemon.html"><i class="fa fa-eye"></i></a>
          

          <p class="wbd"></p>
      </div>
      <div class="six js" data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="300"
      data-aos-offset="0">
          <img src="Image/curriculum.jpg">
          <div class="whiteboard"></div>
          <a href="Pages/CurriculumVitae/index.html"><i class="fa fa-eye"></i></a>
          

          <p class="wbd"></p>
      </div>


      <div class="six css" data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="300"
      data-aos-offset="0">
          <img src="Image/API.png">
          <div class="whiteboard"></div>
          <a href="Pages/Api/evaluation.html"><i class="fa fa-eye" id="iconique"></i></a>
          

          <p class="wbd"></p>
      </div>
      
      <div class="six php" data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="300"
      data-aos-offset="0">
          <img src="Image/starwars.jpg">
          <div class="whiteboard"></div>
          <a href="Pages/StarWars/index.html"><i class="fa fa-eye"></i></a>
          

          <p class="wbd"></p>
      </div>


        <div class="six php" data-aos="fade-zoom-in"
        data-aos-easing="ease-in-back"
        data-aos-delay="300"
        data-aos-offset="0">
            <img src="Image/starwars.jpg">
            <div class="whiteboard"></div>
            <a href="Pages/Portfolioprojet/portfolioprojet.html"><i class="fa fa-eye"></i></a>
            

            <p class="wbd"></p>
        </div>

        <div class="six php" data-aos="fade-zoom-in"
        data-aos-easing="ease-in-back"
        data-aos-delay="300"
        data-aos-offset="0">
            <img src="Image/fdb.jpg">
            <div class="whiteboard"></div>
            <a href="Pages/Fleur/index.html"><i class="fa fa-eye"></i></a>
            

            <p class="wbd"></p>
        </div>
    </div>

   

  </div>

 
  <footer id="sticky-footer">

    <div id="topfooter">

        <div id="leftfooter">
          <h3>Something to say </h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia a magni odio non quis, voluptatem consequuntur, <br> neque assumenda fuga est earum vel necessitatibus in similique modi ipsam officia unde eius.</p>
        </div>

        <div id="middlefooter">
          <h3>Informations</h3>
          <a href="informationsANG/legalnotice.html"><p id="mention">Legal Notice</p></a>
          <a href="informationsANG/termsconditions.html"><p onclick="termes()">Terms & Conditions</p></a>
          <a href="informationsANG/privacypolicy.html"><p onclick="politique()">Privacy policy</p></a>
          <a href="informationsANG/warning.html"><p onclick="avertissement()">Warning</p></a>
        </div>


        <div id="rightfooter">

          <h3>General</h3>
          <a href="home.html"><p>Home</p></a>
          <a href="aboutme.html"><p>About me</p></a>
          <a href="skills.html"><p>Skills</p></a>
          <a href="portfolioang.html"><p>My works</p></a>

        </div>

        <div id="rightfooter">

          <h3>Contact me</h3>
          <a href="#"><p>Contact</p></a>
          <i class="fa fa-phone">Phone: (+41) 76 26 122 17</i>
          <i class="fa fa-envelope"> E-Mail : sergezai19@gmail.com</i>

        </div>
    </div>

    <div id="bottomfooter">
        <div>
          <p>Copyright© 2020 - All rights reserved</p>
        </div>
    </div>


  </footer>

  <script src="vendor/jquery-3.4.1.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="portfolio.js"></script>


 
</body>
</html>