<!Doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>PORTFOLIO</title>
    <link rel="stylesheet" href="portfolio.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">

</head>

<body class="first">

    <div class="un"></div>

    <div id="main">
        <div id="bienvenue">
            <p>Bienvenue</p>
        </div>

        <div id="phrase">
            <p>Ce site a pour objectif de me présenter et exposer mes différents projets réalisés jusqu'à aujourd'hui, bonne visite.</p>
        </div>

        <div id="button">
            <button><a href="menu.html">Aller au menu</a></button>
        </div>


    </div>

    <div class="deux"></div>








</body>