<!DOCTYPE html>


<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link href="index.css" rel="stylesheet">
    <title>Exercice</title>

</head>

<body>

    <h2 onclick="myfunction()">Le retour du Jedi</h2>
    <h2>Le retour du Jedi</h2>
    <h2>Le retour du Jedi</h2>

    <p id="parauno" class="visible" class="invisible">Lorem ipsum dolor sit amet consectetur adipisicing elit. saepe architecto iusto</p>
    <p id="parados" class="visible" class="invisible">Lorem ipsum dolor sit amet consectetur adipisicing elit. saepe architecto iusto</p>
    <p id="paratres" class="visible" class="invisible">Lorem ipsum dolor sit amet consectetur adipisicing elit. saepe architecto iusto</p>




    <script type="text/javascript" src="index.js"></script>
</body>

</html>