<!DOCTYPE html>


<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link href="index.css" rel="stylesheet">
    <title>Exercice</title>

</head>

<body>


    <h1 id="montitre">Le retour du Jedi</h1>


    <p onclick="myfunction('red')">Mettre le h1 en rouge</p>

    <p onclick="myfunction('green')">Mettre le h1 en vert</p>

    <p id="monparagraphe">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel deleniti tenetur quod eligendi ad saepe, veritatis aliquam harum est obcaecati. <br>Eius, iusto vero aut molestiae consectetur ut officia maiores harum!</p>


    <h2 onclick="apparence()">Le retour du Jedi</h2>
    <h2 onclick="apparencea()">Le retour du Jedi</h2>
    <h2 onclick="apparenceb()">Le retour du Jedi</h2>

    <p id="parauno" class="visible" class="invisible"> A Lorem ipsum dolor sit amet consectetur adipisicing elit. saepe architecto iusto</p>
    <p id="parados" class="visible" class="invisible"> B Lorem ipsum dolor sit amet consectetur adipisicing elit. saepe architecto iusto</p>
    <p id="paratres" class="visible" class="invisible">C Lorem ipsum dolor sit amet consectetur adipisicing elit. saepe architecto iusto</p>



    <h1>Mon titre</h1>





    <script type="text/javascript" src="index.js"></script>
</body>

</html>