<!Doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>PORTFOLIO</title>
    <link rel="stylesheet" href="portfolio.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">

</head>

<body class="first">

    <div id="index">


        <div id="formation">
            <a>Formation</a>
        </div>

        <div id="projet">
            <a>Projet</a>
        </div>

        <div id="competence">
            <a>Compétence</a>
        </div>

        <div id="Parcours">
            <a>Parcours</a>
        </div>


    </div>
</body>

</html>