<!Doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>PORTFOLIO</title>
    <link rel="stylesheet" href="portfolio.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">

</head>

<body class="third">


    <div class="container red topBotomBordersOut">
        <a href="Accueil.html">ACCUEIL</a>
        <a href="formation.html">FORMATION</a>
        <a href="parcours.html">PARCOURS</a>
        <a href="competences.html">COMPETENCE</a>
        <a href="projet.html">PROJET</a>
    </div>

    <hr>



</body>