body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectiona {
    background-image: url('../Image/stars.jpg');
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectionb {
    background-image: url('../Image/bmw.jpg');
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}