<!DOCTYPE html>


<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link href="selecteur.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3c7f5856f6.js" crossorigin="anonymous"></script>
    <title>ExerciceSelecteur</title>


</head>

<body>

    <div id="rose">

        <div id="black"></div>

        <div id="yellow"></div>

    </div>


    <div id="Blue">

        <div id="Red">
            <a href="#"></a>
        </div>
    </div>


    <div id="figure">


        <img src="../Image/space.jpg">

        <a href="#">
            <i class="fas fa-plus-circle"></i>

        </a>

        <div id="text_popup">
            <a href="#">
                <h2>SEKAI NO JUTSU BLAST</h2>
            </a>
            <p>Welcome to Genesis Plan earth</p>


        </div>
    </div>
</body>

</html>