<!DOCTYPE html>


<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link href="index.css" rel="stylesheet">
    <title>Exercice</title>

</head>

<body id="body">






    <input type="button" onclick="BoutonClicka()" value="Avant"><input type="button" onclick="BoutonClickb()" value="Après">

    <p>C Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa recusandae sint debitis explicabo voluptas?</p>
    <p>D Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa recusandae sint debitis explicabo voluptas?</p>


    <p id="pp" onclick="pgraphe()">A Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa recusandae sint debitis explicabo voluptas?</p>
    <p id="pp" onclick="pgraphe()">B Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa recusandae sint debitis explicabo voluptas?</p>

    <script type="text/javascript" src="index.js"></script>
</body>

</html>