<!DOCTYPE html>


<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3c7f5856f6.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3c7f5856f6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="exoanime.css" />
    <title>ExoAnime</title>
</head>

<body>


    <div class="decor">

        <div class="Sun"><i class="fa fa-sun"></i></div>

        <div class="Cloud"><i class="fa fa-cloud"></i></div>

        <div class="PlaneA"><i class="fas fa-plane"></i></div>

        <div class="CloudA"><i class="fa fa-cloud"></i></div>

        <div class="Fly"><i class="fa fa-fly"></i></div>
    </div>

    <div class="ground">
        <div class="Tree"><i class="fas fa-tree"></i><i class="fas fa-tree"></i><i class="fas fa-tree"></i><i class="fas fa-tree"><i class="fas fa-campground"></i><i class="fas fa-campground"></i></div>
    </div>




</body>

</html>