<!DOCTYPE html>

<html lang="fr">

<head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="mainprojet1.css">
    <script src="https://kit.fontawesome.com/3c7f5856f6.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Projet1</title>

</head>


<body>

    <div id="MainBlock">

        <div id="MainBlock2">

            <div id="LogoHelloCookies">

                <div>
                    <img id="Logo" src="cookie-logo.png">
                </div>

                <div id="HELLOCOOKIES">
                    <i>Hello</i> <i>COOKIES!</i>
                </div>
            </div>

            <nav id="ListeUPRIGHT">
                <ul id="ULA">
                    <li>Recettes</li>
                    <li>Vidéos</li>
                    <li><a href="index2projet.html">Contact</a></li>
                </ul>
            </nav>

        </div>



        <div id="MainBlock3">

            <div id="ListeLEFTCENTER">
                <div id="ULB">

                    <a href="#Ingrédients">
                        <p id="Ingrédients"><i class="fas fa-stroopwafel"></i> INGREDIENTS</p>
                    </a>
                    <a href="#Ustensiles">
                        <p id="Ustensiles"><i class="fas fa-balance-scale"></i> USTENSILE</p>
                    </a>
                    <a href="#Préparation">
                        <p id="Préparation"><i class="fas fa-mortar-pestle"></i> PREPARATION</p>
                    </a>

                </div>
            </div>

            <div id="CenterBlock">

                <div id="TopCenterBlock">

                    <h1>COOKIES MAISON</h1>
                </div>

                <div id="CentercenterBlock">

                    <div id="LeftcentercenterBlock">

                        <div id="Newdiv">


                            <p class="FontP">Ingrédients</p>


                            <ul>
                                <li>Unam</li>
                                <li>Etiam</li>
                                <li>Aquatini</li>
                                <li>Morbi</li>
                                <li>Magna</li>
                            </ul>



                            <p class="FontP">Ustensiles</p>



                            <ul>
                                <li>Unam</li>
                                <li>Etiam</li>
                                <li>Aquatini</li>
                                <li>Morbi</li>
                                <li>Magna</li>
                            </ul>



                            <p class="FontP">Préparation</p>


                            <div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel erat posuere, pretium justo sed, molestie magna. Donec consectetur blandit porta. Etiam porta turpis in arcu vulputate, morbi elementum justo tellus, vivamus
                                    in leo ligula. Duis quis imperdiet urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac gravida metus. Proin eget purus urna.</p>

                                <p>Donec a nisi a lacus auctor rutrum. Suspendisse iaculis justo sed metus dapibus porttitor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas porttitor id nibh eget mollis. Sed
                                    in viverra arcu.</p>

                                <p>Fusce eget arcu efficitur, placerat orci et, congue est. Nunc elit purus, feugiat turpis. Nulla vitae sem vehicula nibh facilisis luctus. Praesent eget aliquam erat. Fusce commodo pulvinar, diam magna pulvinar nulla, non
                                    imperdiet arcu felis id mi. Maecenas vel mauris augue.</p>

                                <p>Donec efficitur magna non mauris scelerisque, consequat maximus dolor pretium. Sed porta felis, vel convallis lectus efficitur in. Cras hendrerit non neque nec posuere. Nam eu velit tellus, augue ac porttitor lacinia, nisi
                                    nulla luctus augue, ut condimentum arcu neque sit amet urna. Aenean faucibus ullamcorper ligula, a molestie odio dapibus in. Quisque vel interdum mi. </p>

                            </div>

                            <div id="LIREVIDEO">
                                <p id="video">Voir la vidéo</p>
                            </div>

                        </div>


                    </div>

                    <div id="RightcentercenterBlock">

                        <img src="cookies1.jpg">
                        <img src="cookies2.jpg">
                        <img src="cookies3.jpg">

                    </div>

                </div>

            </div>

        </div>

    </div>

</body>

</html>