<!DOCTYPE html>

<html lang="fr">

<head>

    <meta charset="utf-8">
    <link rel="Stylesheet" href="ProjetGoogle.css">
    <script src="https://kit.fontawesome.com/3c7f5856f6.js" crossorigin="anonymous"></script>
    <style type="text/css">
        a:link {
            text-decoration: none
        }
    </style>
    <title>Google</title>

</head>

<body>

    <div id="container">



        <div id="Header">

            <div id="Upright">
                <a href="#Gmail">
                    <p class="SStyle">Gmail</p>
                </a>
                <a href="#Images">
                    <p class="SStyle">Images</p>
                </a>
                <a href="#fas fa-th">
                    <i class="fas fa-th"></i>
                </a>
                <a href="#Connexion">
                    <input class="SStyle" style="background-color:white" type="button" value="Connexion">
                </a>

            </div>

        </div>


        <div id="Corpse">


            <div id="ImageGoogle">
                <img src="google.png">
            </div>

            <div id="Barrederecherche">
                <input id="Googlebar" type="text" placeholder="Search" size="80">
            </div>

            <div id="Lesinputs">

                <input class="bar" type="button" value="Recherche Google">

                <input class="bar" type="button" value="J'ai de la chance">
            </div>

        </div>

        <div id="Footer">

            <div id="UpFooter">

                <div id="France">
                    <a href="#"><span class="Style">France</span></a>
                </div>
                <hr>
            </div>

            <div id="BottomFooter">

                <div id="textGauche">

                    <a href="#"><span class="Style">Publicité</span></a>
                    <a href="#"><span class="Style">Entreprise</span></a>
                    <a href="#"><span class="Style">A propos</span></a>
                    <a href="#"><span class="Style">Comment fonctionne la recherche Google ?</span></a>
                </div>

                <div id="textDroit">

                    <a href="#"><span class="Style">Info consommateurs</span></a>
                    <a href="#"><span class="Style">Confidentialité</span></a>
                    <a href="#"><span class="Style">Conditions</span></a>
                    <a href="#"><span class="Style ">Paramètres</span></a>

                </div>

            </div>

        </div>


    </div>
</body>

</html>