<!DOCTYPE html>
<html lang="fr">



<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main8.css">
    <script src="https://kit.fontawesome.com/3c7f5856f6.js" crossorigin="anonymous"></script>
    <title>Curriculum Vitae</title>

</head>

<body>
    <div id="MainBlock">

        <div id="BlockOrange" class="Orange">


            <div id="AllBlock">

                <nav>
                    <div class="Profilepicture">
                        <img class="IMAGE" src="Images/profileoriginal.jpg">
                    </div>


                    <h1 class="Titre">CONTACT</h1>
                </nav>

                <div class="CoordonnéeFont">
                    <p><i class="fas fa-phone-square-alt"></i> 0618754563</p>
                    <p><i class="fas fa-envelope-square"></i> info@yournul.com</p>
                    <p><i class="fas fa-globe"></i> www.yournul.com</p>
                    <p><i class="fas fa-map-marker-alt"></i> 66 Park Ave. Brooklyn, New York</p>
                </div>

                <nav>
                    <h1 class="Titre">PROF. SKILLS</h1>

                </nav>

                <div class="CoordonnéeFont">
                    <p>Photoshop <progress class="Pro1"></progress></p>
                    <p>Illustrator <progress class="Pro2"></progress></p>
                    <p>inDesign <progress class="Pro3"></progress></p>
                    <p>HTML <progress class="Pro4"></progress></p>
                    <p>Wordpress <progress class="Pro5"></progress></p>
                    <p>Jocania <progress class="Pro6"></progress></p>
                    <p>Java Script <progress class="Pro7"></progress></p>
                </div>

                <nav>
                    <h1 class="Titre">PERS.SKILLS</h1>

                </nav>

                <div class="CoordonnéeFont">
                    <p>Professional <progress class="Pro8"></progress></p>
                    <p>Progressive <progress class="Pro9"></progress></p>
                    <p>Rational <progress class="Pro10"></progress></p>
                    <p>Realistic <progress class="Pro11"></progress></p>
                    <p>Reflective <progress class="Pr012"></progress></p>
                    <p>Reliable <progress class="Pro13"></progress></p>
                    <p>Ressourceful <progress class="Pro14"></progress></p>
                </div>

                <nav>
                    <h1 class="Titre">LANGAGES</h1>

                </nav>

                <div class="CoordonnéeFont">
                    <p>English</p>
                    <p>Spanish</p>
                </div>

            </div>


        </div>

        <div id="BlockJaune" class="Jaune">

            <div id="AllBlock2">


                <div id="BlockName">
                    <p>FELIX <span id="OTTOUBA">OTTOUBA</span></p>


                    <p>Creative Director</p>
                </div>



                <div>

                    <p><i class="fas fa-briefcase"></i> <span id="EXPERIENCES">EXPERIENCES</span></p>

                    <div>
                        <div>
                            <div class="Gauche">
                                <p class="Caractère">GRAPHIC DESIGNER</p>
                                <p>2015 - 2017</p>
                            </div>

                            <div class="Droite">
                                <p class="Caractère2">SOFT DESIGN STUDIO</p>
                                <p>Nulla in velit mi. Donec pulvinar ligula in vehicula faucibus. Fusce sed pharetra neque, eu facilisis risus. Donec ut est neque. Mauris mollis, felis a condimentum facilisis, orci libero fermentum augue, vel molestie mauris
                                    est a augue</p>
                            </div>
                        </div>

                        <div>
                            <div class="Gauche">
                                <p class="Caractère">WEB DESIGNER</p>
                                <p>2013 - 2015</p>
                            </div>

                            <div class="Droite">
                                <p class="Caractère2">WEB TECH LTD</p>
                                <p>Nulla in velit mi. Donec pulvinar ligula in vehicula faucibus. Fusce sed pharetra neque, eu facilisis risus. Donec ut est neque. Mauris mollis, felis a condimentum facilisis, orci libero fermentum augue, vel molestie mauris
                                    est a augue</p>
                            </div>
                        </div>

                        <div>
                            <div class="Gauche">
                                <p class="Caractère">LEAD WEB DESIGNER</p>
                                <p>2010 - 2013</p>
                            </div>

                            <div class="Droite">
                                <p class="Caractère2">DEV CREATIVE SOLUTIONS</p>
                                <p>Nulla in velit mi. Donec pulvinar ligula in vehicula faucibus. Fusce sed pharetra neque, eu facilisis risus. Donec ut est neque. Mauris mollis, felis a condimentum facilisis, orci libero fermentum augue, vel molestie mauris
                                    est a augue</p>
                            </div>
                        </div>


                    </div>

                    <p><i class="fas fa-graduation-cap"></i><span id="EDUCATION">EDUCATION</span></p>

                    <div>
                        <div>
                            <div class="Gauche">
                                <p class="Caractère">UNIVERSITY OF LOREM</p>
                                <p>2008 - 2010</p>
                            </div>

                            <div class="Droite">
                                <p class="Caractère2">CERTIFICATE OF WEB TRAINIG</p>
                                <p>Nulla in velit mi. Donec pulvinar ligula in vehicula faucibus. Fusce sed pharetra neque, eu facilisis risus. Donec ut est neque. Mauris mollis, felis a condimentum facilisis, orci libero fermentum augue, vel molestie mauris
                                    est a augue</p>
                            </div>
                        </div>

                        <div>
                            <div class="Gauche">
                                <p class="Caractère">UNIVERSITY OF LOREM</p>
                                <p>2007 - 2009</p>
                            </div>

                            <div class="Droite">
                                <p class="Caractère2">BACHELOR OF ART DIRECTOR</p>
                                <p>Nulla in velit mi. Donec pulvinar ligula in vehicula faucibus. Fusce sed pharetra neque, eu facilisis risus. Donec ut est neque. Mauris mollis, felis a condimentum facilisis, orci libero fermentum augue, vel molestie mauris
                                    est a augue</p>
                            </div>
                        </div>

                        <div>
                            <div class="Gauche">
                                <p class="Caractère">UNIVERSITY OF LOREM</p>
                                <p>2007 - 2009</p>
                            </div>

                            <div class="Droite">
                                <p class="Caractère2">BACHELOR OF ART DIRECTOR</p>
                                <p>Nulla in velit mi. Donec pulvinar ligula in vehicula faucibus. Fusce sed pharetra neque, eu facilisis risus. Donec ut est neque. Mauris mollis, felis a condimentum facilisis, orci libero fermentum augue, vel molestie mauris
                                    est a augue</p>
                            </div>

                        </div>

                        <p><i class="fas fa-file-signature"></i><span id="REFERENCE">REFERENCE</span></p>

                        <div>
                            <div id="Gauchebis">
                                <p class="Special">WILLIAM KLEMAN</p>
                                <p class="Special">Director Matrix media limited</p>
                                <p><span class="Special2">Phone :</span> +555 123 5566 </p>
                                <p><span class="Special2">Email :</span> williamkleman@gmail.com</p>
                            </div>
                            <div id="Droitebis">
                                <p class="Special">JESEN SMITH</p>
                                <p class="Special">Web developper, Design xxx LTD</p>
                                <p><span class="Special2">Phone :</span> +323 5566 4455</p>
                                <p><span class="Special2">Email :</span> jensensmith@gmail.com</p>

                            </div>

                        </div>


                    </div>


                </div>
            </div>
        </div>
</body>


</html>